* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  position: relative;
}

#main-resto_list {
  max-width: 80%;
  margin: 2rem auto;
}
button,
a,
input,
.btn {
  box-sizing: border-box;
  min-width: 44px;
  min-height: 44px;
}

#loadingIndicator {
  margin: 0 auto;
}

.lds-facebook,
.lds-facebook div {
  box-sizing: border-box;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.skip2content {
  background-color: black;
  border-radius: 4px;
  color: black;
  font-weight: 500;
  left: 0;
  line-height: 44px;
  margin: 0 auto;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: -50px;
  transition: 0.35s;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 1500;
}

.skip2content:focus {
  top: 30px;
}

header {
  top: 0;
  position: sticky;
  z-index: 100;
}

/*
  NAVBAR
*/

.app-bar {
  padding: 8px 16px;
  background-color: black;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 99;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

#hamburgerButton {
  color: white;
}
.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__brand a {
  color: #faf7f7;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: bold;
  user-select: none;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  padding: 8px;
  background-color: black;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px;
  margin-bottom: 5px;
  width: 100%;
  text-transform: uppercase;
}

/* 
  hero
*/

.hero-container {
  min-height: 380px;
  position: relative;
  background-image: url("../public/images/sharp/hero-image_4-small.jpg");
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container .hero-content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-container .hero-content-container > h1,
p {
  font-weight: bold;
  line-height: 2em;
}
.hero-text {
  text-align: center;
  color: white;
}

/*
  Main Content
*/

section {
  margin-top: 40px;
}

a,
p,
h1,
h2,
h3,
h4 {
  text-decoration: none;
}

.main-resto_container {
  margin: 60px auto;
}

.main-resto_label {
  margin: auto;
  width: max-content;
  font-size: 22px;
}

.main-resto_label hr {
  margin-top: 0;
  width: 50%;
  border-bottom: 1px solid #9ac8cd;
}

.list-resto {
  margin-top: 2rem;
  text-align: left;
  display: grid;
  grid-gap: 16px;
}

.resto-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: top ease 0.4s;
  cursor: pointer;
}

.resto-item:hover {
  top: -4px;
}

.resto-title {
  display: inline-block;
  justify-content: space-between;
}

.resto-item_image {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.resto-item_name {
  font-weight: bold;
  font-size: 24px;
  margin-top: 6px;
  transition: 0.3s opacity;
  padding: 0 16px 0 16px;
  text-align: center;
  text-transform: uppercase;
}

.resto-item_city {
  position: absolute;
  text-transform: uppercase;
  top: 8px;
  left: 16px;
  border-radius: 5px;
  background-color: #0e46a3;
  padding: 5px 10px 5px;
  color: #e1f7f5;
  font-weight: 500;
}

.resto-item_rating {
  color: black;
  font-weight: 600;
  text-decoration: none;
  margin: 0 0 0 5px;
  padding: 5px 10px 5px;
  border-radius: 5px;
  color: #e1f7f5;
  background-color: #0e46a3;
}

.resto-item_name:hover {
  opacity: 0.7;
}

.resto-item_name {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.resto-item_desc {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 16px 15px;
  font-size: 14px;
  line-height: 1.5em;
  color: black;
}

/* 
  DETAIL
*/
.explore-restaurant__label {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #1e0342;
}

.explore-restaurant__label::after {
  content: "";
  margin-top: 16px;
  display: block;
  border-bottom: 3px solid #1e0342;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resto-item_image-container {
  max-width: 600px;
}

/* 
  detail ifon
*/
.detail-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem;
  max-width: 80%;
}

.detail-info h4 {
  padding-top: 20px;
  color: #1e0342;
  font-size: 1.5em;
  margin: 0;
  text-align: left;
}

.detail-info li {
  color: #1e0342;
  position: relative;
  display: block;
  margin-top: 10px;
}

.resto-name {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
}

.detail-name-address-rating {
  display: inline-block;
  margin: 0;
}

.resto-address,
.resto-rating,
.resto-category {
  font-size: 18px;
  margin: 0;
  text-align: left;
}

.detail-desc {
  text-align: justify;
  color: black;
  margin-bottom: 0.5em;
  margin: 0;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

.category {
  padding: 0.3em 1em;
  color: #e1f7f5;
  background-color: #1e0342;
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 5px 5px 5px 5px;
  text-align: left;
  height: 50px;
}

.restaurant-detail__category {
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 20px;
  color: white;
}

/* 
  list menu detail
*/
#resto-detail-form-review-title {
  text-align: center;
  margin: 3rem;
  font-size: 2em;
}

.foods h3,
.drinks h3 {
  text-align: center;
}
.restaurant-detail__info,
.restaurant-detail__menu-list,
.restaurant-detail__review {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px;
  max-width: 750px;
  margin: 0 auto;
}

.foods,
.drinks {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding-top: 10px;
  margin: 1rem;
}

.restaurant-detail__foods > li,
.restaurant-detail__drinks > li {
  list-style: none;
  margin: 10px 15px;
  padding: 1px;
  color: black;
  text-align: left;
}

/* Detail Review */

.detail-review {
  text-align: left;
  display: grid;
  grid-gap: 16px;
  max-width: 100%;
  font-size: 1em;
  margin: 2rem;
}

.detail-review-item {
  color: #e1f7f5;
  background-color: #0e46a3;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 2em;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
  padding: 10px;
}
.bi-person-circle {
  font-size: 4rem; /* Ukuran ikon */
  color: #9ac8cd;
  grid-row: span 2;
  text-align: center;
}

.name-review {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.date-review {
  font-size: 14px;
  color: #9ac8cd;
  margin: 5px 0;
}

.body-review {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 0.5em;
}

/* FORM */
form {
  margin: 0 auto 2em;
  padding: 1.5em;
  width: 50%;
  border: 3px solid #1e0342;
  border-radius: 15px;
}

.form-control {
  display: block;
  width: 100%;
  height: 60px;
  padding: 0.738em;
  font-size: 1.37em;
  color: #1e0342;
  background-color: #9ac8cd;
  border: 1px solid #1e0342;
  border-radius: 1em;
}

.form-label {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.5em;
  text-align: left;
  color: #1e0342;
}

.mb-3 {
  margin-bottom: 1.3em;
  margin-top: 0.5em;
}

.btn {
  display: inline-block;
  width: 100px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: #0e46a3;
  border: 2px solid #1e0342;
  border-radius: 1em;
}

.btn:hover {
  box-shadow: 0px 10px 13px -7px #1e0342, 5px 5px 15px 5px #1e0342;
  background-color: #0e46a3;
}

/*
  Like
*/
.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;

  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;

  font-size: 18px;
  color: white;
  cursor: pointer;
}
